<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>community</title>
</head>
<body>

    <div style="text-align: right" th:fragment="fragment-body-menu">
      <div>
        <a href="/">홈</a>
        |
        <a href="/user/register">회원 가입</a>
        |
        <a href="/user/info">회원 정보</a>
        |
        <a href="/user/login">로그인</a>
        |
        <a href="/user/logout">로그아웃</a>
      </div>
    </div>

    <div th:fragment="fragment-board-menu">
      <hr/>
      <div>
        <a href="/announcement/list">공지사항</a>
        |
        <a href="/board/list">게시판</a>
      </div>
      <hr/>
    </div>


    <div th:fragment="fragment-admin-menu">
      <a href="/admin/main.do">관리자 메인</a>
      |
      <a href="/admin/user/list.do">회원 관리</a>
      |
      <a href="/admin/board/list.do">게시글 관리</a>
      |
      <a href="/admin/category/list.do">카테고리 관리</a>
      |
      <a href="/admin/announcement/list.do">공지사항 관리</a>
      |
      <a href="/user/logout">로그아웃</a>
      <hr/>
    </div>


</body>
</html>