<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>관리자 페이지</title>
  <style>
    .detail table {
      width: 100%;
      border-collapse: collapse;
    }
    .detail table th, .detail table td {
      border:solid 1px #000;
    }
    .buttons {
      margin-top: 20px;
      text-align: center;
    }
  </style>
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <script>
    $(function () {
      $("#date").datepicker({

        showOn: "both", // 버튼과 텍스트 필드 모두 캘린더를 보여준다.
        changeMonth: true, // 월을 바꿀수 있는 셀렉트 박스를 표시한다.
        changeYear: true, // 년을 바꿀 수 있는 셀렉트 박스를 표시한다.
        buttonText: "날짜 선택",
        minDate: '-100y', // 현재날짜로부터 100년이전까지 년을 표시한다.
        nextText: '다음 달', // next 아이콘의 툴팁.
        prevText: '이전 달', // prev 아이콘의 툴팁.
        numberOfMonths: [1,1], // 한번에 얼마나 많은 월을 표시할것인가. [2,3] 일 경우, 2(행) x 3(열) = 6개의 월을 표시한다.
        stepMonths: 3, // next, prev 버튼을 클릭했을때 얼마나 많은 월을 이동하여 표시하는가.
        yearRange: 'c-20:c+20', // 년도 선택 셀렉트박스를 현재 년도에서 이전, 이후로 얼마의 범위를 표시할것인가.
        showButtonPanel: true, // 캘린더 하단에 버튼 패널을 표시한다.
        currentText: '오늘 날짜' , // 오늘 날짜로 이동하는 버튼 패널
        closeText: '닫기',  // 닫기 버튼 패널
        dateFormat: "yy-mm-dd", // 텍스트 필드에 입력되는 날짜 형식.
        showAnim: "slide", //애니메이션을 적용한다.
        showMonthAfterYear: true , // 월, 년순의 셀렉트 박스를 년,월 순으로 바꿔준다.
        dayNamesMin: ['월', '화', '수', '목', '금', '토', '일'], // 요일의 한글 형식.
        monthNamesShort: ['1월','2월','3월','4월','5월','6월','7월','8월','9월','10월','11월','12월'], // 월의 한글 형식.

      });
    });

    $(document).ready(function () {
      $('#submitForm').on('submit', function () {
        // 에디터의 내용이 textarea에 적용된다.
        oEditors.getById["contents"].exec("UPDATE_CONTENTS_FIELD", []);

      });
    });
  </script>

</head>
<body>
<h1 th:if="${editMode}">관리자 공지사항 페이지 - 수정 </h1>
<h1 th:if="${!editMode}">관리자 공지사항 페이지 - 신규 </h1>
<div th:replace="/fragments/layout.html :: fragment-admin-menu">
</div>

<div class="detail">
  <form id="submitForm" method="post">
  <table>
    <tbody>
      <tr>
        <th>
          제목
        </th>
        <td>
          <input th:value="${detail.subject}" type="text" name="subject" required placeholder="공지사항 제목"/>
        </td>
      </tr>
      <tr>
        <th>
          내용
        </th>
        <td>
          <textarea th:text="${detail.contents}" id="contents" name="contents" cols="70" rows="30" placeholder="내용 입력"></textarea>
        </td>
      </tr>
      <tr>
        <th>
          게시일
        </th>
        <td>
          <input th:value="${detail.postDtText}" type="text" name="postDtText" id="date" required placeholder="게시일 입력"/>
        </td>
      </tr>
    </tbody>
  </table>

  <div class="buttons">
    <button th:if="${editMode}" type="submit"> 공지사항 수정 하기 </button>
    <button th:if="${!editMode}" type="submit"> 공지사항 등록 하기 </button>
    <a href="/admin/announcement/list.do"> 목록 이동 </a>
  </div>
  </form>
</div>

<script type="text/javascript" src="/res/se2/js/service/HuskyEZCreator.js" charset="utf-8"></script>
<script type="text/javascript">
  var oEditors = [];
  nhn.husky.EZCreator.createInIFrame({
    oAppRef: oEditors,
    elPlaceHolder: "contents",
    sSkinURI: "/res/se2/SmartEditor2Skin.html",
    fCreator: "createSEditor2"
  });
</script>

</body>
</html>